// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

$badge-font-size: 15px;

$brown: #543729;
$green: #2BAF2B;
$yellow: #FFCC2F;

$colors: (
  "brown": $brown,
  "green": $green,
  "yellow": $yellow
);

$theme-colors: (
  "brown": $brown,
  "green": $green,
  "yellow": $yellow
);

$navbar-dark-color:                 $green;
$navbar-dark-hover-color:           rgba($green, .75);
$navbar-dark-active-color:          rgba($green, .75);
$navbar-dark-disabled-color:        rgba($green, .5);
$navbar-dark-toggler-border-color:  rgba($green, .1);

@import "../bootstrap/scss/bootstrap";

body {
  padding-top: 54px;
}

.fonty{
  font-family: 'Exo', sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar-dark {
  .navbar-brand {
    color: $brown;
  }
}

.hljs {
  border-radius: 10px;
  background: $brown;
  color: white;
  padding: 0.1em;
}