<div class="col-sm-6 col-md-4 col-lg-4 mx-0 px-0">
  <div class="card mb-4">
    <img class="card-img-top" src="/{{ article.img }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary"><a href="/{{ article.url }}">{{article.title}}</a></h5>
      <p class="card-text">{{article.summary}}</p>
      <p class="card-text"><small class="text-muted">{{article.date}}</small></p>
    </div>
  </div>
</div>