{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col col-md-8">

          <!-- Title -->
          <h1 class="text-green mt-4">{{ article.title }}</h1>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ article.img }}" alt="">

          <!-- Author -->
          <p class="lead">
            por
            {% for author in article.authors %}
              <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
            &nbsp &nbsp
            <time class="published" datetime="{{ article.date.isoformat() }}">
              {{ article.locale_date }}
            </time>
  
            {% if article.modified %}
              <time class="modified" datetime="{{ article.modified.isoformat() }}">
                {{ article.locale_modified }}
              </time>
            {% endif %}
          </p>
          <!-- Date/Time -->

          <hr>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          {% include 'sidebar.html' %}

        </div>
        <!-- side bar col -->

      </div>
      <!-- /.row -->

      <!-- Post Content -->
      <p>{{ article.content }}</p>

      <hr>

    </div>
    <!-- /.container -->
{% endblock content %}
