<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <!-- Custom styles for this template -->
  <link href="../theme/css/main.css" rel="stylesheet">

  <!-- tipoe-search -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">

  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">

  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  {% endblock head %}

</head>

<body id="index" class="home">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-yellow fixed-top">
    <div class="container">
      <a class="navbar-brand fonty" href="{{ SITEURL }}/"><b>Python Blog</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}/"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}/archives"><b>Blog</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>About</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Contact</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock content %}

  <!-- Footer -->
  <footer class="py-5 bg-brown">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Python Blog 2018</p>
    </div>
  </footer>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="theme/tipuesearch/tipuesearch_content.js"></script>
  <script type="text/javascript" src="theme/tipuesearch/tipuesearch_set.js"></script>
  <script type="text/javascript" src="theme/tipuesearch/tipuesearch.js"></script>

  {% block js %} {% endblock js %}
</body>
</html>



