{% extends "base.html" %}

{% block content %}
  <!--jumbotron header-->
  <div class="jumbotron jumbotron-fluid bg-yellow text-center row">
    <div class="col-lg-7 col-md-7 align-self-center">
      <h1 class="display-4 text-brown fonty">Python en tu Idioma!!!</h1>
      <p class="lead text-brown fonty">Este blog esta dedicado a ver caracteristicas especiales de python.</p>
      <a class="btn btn-light btn-lg text-brown" href="#" role="button">Suscribirse</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 offset-sm-2 offset-md-0">
      <img class="img-fluid " src="theme/img/coding.png" alt="">
    </div>
  </div>

  <!-- container -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 mb-5">

          <h1 class="text-center text-green fonty">Articulo mas Reciente.</h1>

          <div class="d-flex justify-content-center">
            <div class="card">
              <img class="card-img-top" src="{{ articles[0].img }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-primary"><a href="{{ articles[0].url }}">{{articles[0].title}}</a></h5>
                <p class="card-text">{{articles[0].summary}}</p>
                <p class="card-text"><small class="text-muted">{{articles[0].date}}</small></p>
              </div>
            </div>
          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          {% include 'sidebar.html' %}

        </div>
        <!-- side bar col -->

      </div>
      <!-- /row -->

      <div class="row">

          <!-- card columns -->
          <div class="card-deck col-12">

            {% for article in articles[1:] %}
              {% include 'article-miniature.html' %}
            {% endfor %}

          </div>
          <!-- /card columns -->

      </div>
      <!-- /row -->

    </div>
    <!-- /container -->
{% endblock content %}
