{% extends 'base.html' %}

{% block title %}
Search - {{ SITENAME|striptags }}
{% endblock title %}

{% block content %}

<section id="content" class="body">

<div align="center" class="row mt-3">
  <div class="col-3 offset-4">
    <input type="text" class="form-control" size="60" id="tipue_search_input">
  </div>
  <div class="col-1">
    <input class="btn btn-brown" type="button" id="tipue_search_button" value="Search">
  </div>
</div>

<div class="container" id="tipue_search_content"></div>

</section>
{% endblock content %}

{% block js %}
  <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
          'mode' : 'json',
          'show': 10,
          'newWindow': false,
          'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
      });
    });
  </script>
{% endblock js %}
