<!-- Search Widget -->
<h5 class="my-4 text-green m-0"><b>Search</b></h5>
<form class="form-inline" action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
  <input class="form-control" id="tipue_search_input" type="text" name="q" placeholder="Search">
  <button type="submit" class="btn btn-brown ml-2">Search</button>
</form>



<!-- Categories Widget -->
<h5 class="my-4 text-green"><b>Categories</b></h5>
<ul class="list-unstyled mb-0">

  {% for category, articles in categories %}
    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
  {% endfor %}

</ul>
<!-- /Categories Widget -->

<!-- Tags Widget -->
<h5 class="my-4 text-green"><b>Tags</b></h5>
<div class="list-unstyled mb-0">

  {% for tag, articles in tags|sort %}
    <a class="badge badge-primary" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }} ({{ articles|count }})</a>
  {% endfor %}

</div>
<!-- /Tags Widget -->

<!-- Side Widget -->
<div class="card mt-4">
  <h5 class="card-header">Side Widget</h5>
  <div class="card-body">
    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
  </div>
</div>